
<div class="container">
  <div class="text-center">
    <img src="https://papelerialeo.com/images/logos/logo_full300.png" alt="logo papeleria e internet leo">
  </div>
  <h1>Calculadora de comisión Clip</h1>
  <div class="separator"></div>
  <div>
    <div class="row">
      <div class="col-md-3">Editar valores de comisiones</div>
      <div class="col-md-2">
        <button [hidden]="editingFees" (click)="toggleEditFees()">Editar</button>
        <button [hidden]="!editingFees" (click)="toggleEditFees()">Aceptar</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">IVA</div>
      <div class="col-md-2">Comisión Clip</div>
      <div class="col-md-2">{{values[1].name}}</div>
      <div class="col-md-2">{{values[2].name}}</div>
      <div class="col-md-2">{{values[3].name}}</div>
      <div class="col-md-2">{{values[4].name}}</div>
    </div>
    <div class="row">
      <div class="col-md-2"><input type="text" [(ngModel)]="iva" [disabled]="!editingFees"> %</div>
      <div class="col-md-2"><input type="text" [(ngModel)]="clip" [disabled]="!editingFees"> %</div>
      <div class="col-md-2"><input type="text" [(ngModel)]="values[1].fee" [disabled]="!editingFees">%</div>
      <div class="col-md-2"><input type="text" [(ngModel)]="values[2].fee" [disabled]="!editingFees">%</div>
      <div class="col-md-2"><input type="text" [(ngModel)]="values[3].fee" [disabled]="!editingFees">%</div>
      <div class="col-md-2"><input type="text" [(ngModel)]="values[4].fee" [disabled]="!editingFees">%</div>
    </div>
    <div class="separator"></div>
    <div>Ingresa la cantidad y presiona "Enter" para calcular</div>
    <br>
    <div class="row">
      <div class="col-md-1">Cantidad</div>
      <div class="col-md-2"><input type="text" [(ngModel)]="amount" (keyup)="amountKeyUp($event)" (change)="calculate()" [disabled]="editingFees"></div>
    </div>
    <div class="separator"></div>
    <div class="table-container">
      <div *ngIf="calculated" class="table">
        <div class="row">
          <div class="offset-md-1 col-md-3 bold">Tipo de Pago</div>
          <div class="col-md-3 bold">Total</div>
          <div class="col-md-3 bold">Mensualidad (Aprox)</div>
        </div>
        <div class="row evenOdd" *ngFor="let value of values">
          <div class="offset-md-1 col-md-3 bold">{{value.name}}</div>
          <div class="col-md-3">{{value.total}}</div>
          <div class="col-md-3">{{value.monthly}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
